<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect any requests with .php extension to the URL without the extension
    RewriteCond %{THE_REQUEST} \s/([^.]+)\.php[\s?] [NC]
    RewriteRule ^ /%1 [R=301,L]

    # Internally rewrite requests without .php to the actual .php file
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php [L]


# Route /app to app/index.php
RewriteRule ^app/?$ /app/index.php [L]

# If you want to handle all requests under /app (e.g., /app/something)
RewriteRule ^app/(.*)$ /app/index.php [L,QSA]

</IfModule>

# Enable the rewrite engine
Options +FollowSymLinks

